@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Satisfy');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
body{
    background-image: url('log-in.jpg');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 20px;
}
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.4s ease;
  }
  nav.sticky{
    padding: 15px 20px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  nav .nav-content{
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .logo a{
    font-weight: 500;
    font-size: 30px;
    color: #4070f4;
  }
  nav.sticky .logo a{
    color: #fff;
  }
  .nav-content .nav-links{
    display: flex;
  }
  .nav-content .nav-links li{
    list-style: none;
    margin: 0 8px;
  }
   .nav-links li a{
    text-decoration: none;
    color: #0E2431;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
  }
  .edit-button :hover{
    color: #F59FAC
  }
  
  .button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    color: white;
  }

   .nav-links li a:hover{
     color: #F59FAC;
   }
   nav.sticky .nav-links li a{
     color: #000000;
     transition: all 0.4s ease;
  }
   nav.sticky .nav-links li a:hover{
    color: #0E2431;
  }
  .home{
    height: 100vh;
    width: 90%;
    background: url("images/background.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
  }

  .body-text {
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
  }

  h2{
    font-size: 30px;
    margin-bottom: 6px;
    color: #3F479C;
    font-weight: bolder;
  }
  .text{
    text-align: justify;
    padding: 40px 80px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  }

  
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  text-align: left;
  align-content: center;
  /* margin: auto */
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 16px;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 14px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #808080;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #3F479C;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right,  #F59FAC, #9090CD);
  border-image-slice: 1;
}

/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.button {
  margin-right: 50px;
  background: #F59FAC;
  border: 0;
  border-radius: 12px;
  color: #000000;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  padding: 10px;
}



  
  